<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    配置 bean-->
<!--    bean 标签表示配置 bean-->
<!--    id属性表示给 bean 起名字-->
<!--    class 属性表示给 bean 定义类型-->
    <bean id="bookService" name="bookService2 bookService3" class="vip.dengwj.service.impl.BookServiceImpl" scope="prototype">
<!--        property 标签表示配置当前 bean 的属性-->
<!--        name 属性表示配置哪一个具体的属性-->
<!--        ref 属性表示参照哪一个 bean-->
        <property name="bookDao" ref="bookDao" />
    </bean>

<!--    构造方法实例化 bean-->
    <bean id="bookDao" class="vip.dengwj.dao.impl.BookDaoImpl" />

<!--    静态工厂实例化 bean-->
    <bean id="bookDao1" class="vip.dengwj.factory.BookDaoFactory" factory-method="getBookDao" />

<!--    实例工厂实例化 bean-->
    <bean id="bookDaoFactory" class="vip.dengwj.factory.InBookDaoFactory" />
    <bean id="bookDao2" factory-bean="bookDaoFactory" factory-method="getBookDao" />

<!--    FactoryBean 实现 spring 提供的接口-->
    <bean id="bookDao3" class="vip.dengwj.factory.BookDaoFactoryImpl" />

<!--    bean 的生命周期-->
    <bean id="lifeCycleBookDao" class="vip.bean_lifecycle.dao.impl.BookDaoImpl" init-method="init" destroy-method="destroy" />
    <bean id="lifeCycleBookService" class="vip.bean_lifecycle.service.impl.BookServiceImpl" />

<!--    依赖注入 setter 注入-->
<!--    <bean id="userDao" class="vip.di.dao.impl.UserDaoImpl">-->
<!--        <property name="name" value="朴睦" />-->
<!--        <property name="age" value="24" />-->
<!--    </bean>-->

<!--    <bean id="userService" class="vip.di.service.impl.UserServiceImpl">-->
<!--        <property name="userDao" ref="userDao" />-->
<!--    </bean>-->

<!--    构造器注入-->
<!--    <bean id="userDao" class="vip.di.dao.impl.UserDaoImpl">-->
<!--&lt;!&ndash;        这个 name 是参数名，要对应&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg name="name" value="李雷" />&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg name="age" value="20" />&ndash;&gt;-->
<!--&lt;!&ndash;        位置的方式&ndash;&gt;-->
<!--        <constructor-arg index="0" value="李雷" />-->
<!--        <constructor-arg index="1" value="20" />-->
<!--&lt;!&ndash;        type 的方式&ndash;&gt;-->
<!--    </bean>-->
<!--    <bean id="userService" class="vip.di.service.impl.UserServiceImpl">-->
<!--        <constructor-arg name="userDao" ref="userDao" />-->
<!--    </bean>-->


<!--    自动装配-->
    <bean id="studentService" class="vip.di.service.impl.StudentServiceImpl" />
    <bean id="userDao" class="vip.di.dao.impl.UserDaoImpl">
        <constructor-arg index="0" value="哈哈" />
        <constructor-arg index="1" value="123456" />
    </bean>
    <!--    自动装配-->
    <bean id="userService" class="vip.di.service.impl.UserServiceImpl" autowire="byType" />

<!--    集合注入-->
    <bean id="collectionDao" class="vip.di.dao.impl.CollectionDaoImpl">
        <property name="arr">
            <array>
                <value>10</value>
                <value>20</value>
                <value>30</value>
            </array>
        </property>

        <property name="list">
            <list>
                <value>朴睦</value>
                <value>李雷</value>
                <value>韩梅梅</value>
            </list>
        </property>

        <property name="set">
            <set>
                <value>朴睦</value>
                <value>朴睦</value>
                <value>朴睦</value>
                <value>王阳明</value>
            </set>
        </property>

        <property name="map">
            <map>
                <entry key="name" value="朴睦" />
                <entry key="address" value="上海市" />
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="age">24</prop>
                <prop key="sex">男</prop>
            </props>
        </property>
    </bean>
</beans>