<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    配置 bean-->
<!--    bean 标签表示配置 bean-->
<!--    id属性表示给 bean 起名字-->
<!--    class 属性表示给 bean 定义类型-->
    <bean id="bookService" name="bookService2 bookService3" class="vip.dengwj.service.impl.BookServiceImpl" scope="prototype">
<!--        property 标签表示配置当前 bean 的属性-->
<!--        name 属性表示配置哪一个具体的属性-->
<!--        ref 属性表示参照哪一个 bean-->
        <property name="bookDao" ref="bookDao" />
    </bean>

<!--    构造方法实例化 bean-->
    <bean id="bookDao" class="vip.dengwj.dao.impl.BookDaoImpl" />

<!--    静态工厂实例化 bean-->
    <bean id="bookDao1" class="vip.dengwj.factory.BookDaoFactory" factory-method="getBookDao" />

<!--    实例工厂实例化 bean-->
    <bean id="bookDaoFactory" class="vip.dengwj.factory.InBookDaoFactory" />
    <bean id="bookDao2" factory-bean="bookDaoFactory" factory-method="getBookDao" />

<!--    FactoryBean 实现 spring 提供的接口-->
    <bean id="bookDao3" class="vip.dengwj.factory.BookDaoFactoryImpl" />

<!--    bean 的生命周期-->
    <bean id="lifeCycleBookDao" class="vip.bean_lifecycle.dao.impl.BookDaoImpl" init-method="init" destroy-method="destroy" />
    <bean id="lifeCycleBookService" class="vip.bean_lifecycle.service.impl.BookServiceImpl" />
</beans>